body{
    max-width: 900px;
    margin: auto;
}

.db_element {
    line-height: 1;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 2px;
    padding: 0 2px 0 4px;
}

.db_element:hover {
    background: rgb(248, 248, 248);
}

.item_title{
    font-weight: bold;
    color: rgb(73, 73, 73);
}

.item_description {
    color: rgb(111, 111, 111);
}

.p_separacao, .p_editar, .p_excluir{
    float: right;
    font-size: 14px;
    color: rgb(102, 152, 201); /* fallback color */
    color: rgba(68, 120, 185,0.6);
    transition: color 0.2s;
}

.p_separacao {
    opacity: 0;
}

.p_editar:hover, .p_excluir:hover{
    color: rgb(0, 62, 139);
    cursor:pointer;
}

.p_data {
    float: right;
    font-size: 12px;
    color: rgb(150, 150, 150);
    padding-right: 5px;
}